<li>
    <h4><a href="http://www.amazon.com/gp/search?index=books&field-author=Mark+Twain&field-title=Tom+Sawyer">{{title}}</a></h4>
    {{#if author}}
        <p>by {{author}}</p>
    {{/if}}
</li>

